<button type="button" class="btn btn-primary mb-2" (click)="getAllStudents()">Load Student Data</button>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">School</th>
      <th scope="col">Sex</th>
      <th scope="col">Age</th>
      <th scope="col">G1</th>
      <th scope="col">G2</th>
      <th scope="col">G3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="studentsLoading">
      <td colspan="5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </td>
    </tr>
    <tr *ngFor="let student of students; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ student.school }}</td>
      <td>{{ student.sex }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.g1 }}</td>
      <td>{{ student.g2 }}</td>
      <td>{{ student.g3 }}</td>
    </tr>
  </tbody>
</table>

